.Loader {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50px, -50px)
}

.CartSummary {
    display: inherit;
    background-color: white;
    align-content: flex-start;
    margin: 3px;
    padding: 20px;
    border: 1px solid green;
    border-radius: 2px;
    font-size: 14px;
}

.CartRow {
    display: grid;
    grid-template-columns: 55% 45%;
    p {
        font-weight: 500
    }
}

.CartItems {
    margin: 0;
    padding: 0;
    li {
        display: grid;
        background-color: white;
        grid-template-columns: 10% 45% 20% 13% 10%;
        align-items: center;
        margin: 3px;
        padding: 20px;
        border: 1px solid green;
        border-radius: 2px;
        grid-gap: 9px;
        div {
            display: grid;
            grid-template-columns: 30% 40% 30%;
            width: 136px;
            align-items: center;
            p {
                text-align: center;
            }
        }
        div:last-child {
            &:after {
            display: inline-block;
            content: "\00d7";
            font-size: 21px;
            }
            &:hover {
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}

main h3 {
    margin-left: 18px;
}
  

.Button {
    height: 1.4rem;
    width: 100%;
    margin: 10px auto;
    &:hover {
        cursor: pointer;
    }
}


.ProductItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    li {
        display: inherit;
        background-color: white;
        margin: 3px;
        grid-template-rows: 36% 33% 19% 8%;
        padding: 20px;
        border: 1px solid green;
        border-radius: 2px;
        place-items: center;
        p {
            text-align: center;
        }
    }
}


.CartPage, .ProductList {
    margin: 1rem;
}

.CartPage {
    display: grid;
    grid-template-columns: 80% 20%;
}

.Input {
    label {
    font-size: 12px;
    font-weight: bold;
    margin: 7px 0;
    }
    input {
        margin: 7px 0
    }
}

.Navigation {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    div {
        position: relative;
        right: 3.5rem;
        a {
            position: fixed; 
            background: white;
            border-radius: 13px;
            background-color: #e6eef5;
            p {
                position: absolute;
                top: 17%;
                left: 50%;
                transform: translate(-50%, 0%);
                padding: 1px 4px 2px;
                background: white;
                color: red;
                font-size: 10px;
                font-weight: bold;
                border: 2px solid red;
                border-radius: 10px;
            }
        }
    }
}


.Notification {
    text-align: center;
    border: 1px solid green;
    padding: 20px;
    border-radius: 2px;
    margin: 1rem;
}


/* media query */
@media screen and (max-width: 1100px) {
    .CartPage {
        grid-template-columns: none;
    }
    
    .CartRow {
        grid-template-columns: 20% 80%;
    }

    .Input {
        display: grid;
    }

}

@media screen and (max-width: 900px) {
    .ProductItems {
        grid-template-columns: repeat(3, 1fr);
    }

    .CartItems li {
        grid-template-columns: 10% 34% 24% 17% 10%;
    }
}

@media screen and (max-width: 700px) {
    .ProductItems {
        grid-template-columns: repeat(2, 1fr);
    }

    .CartItems li {
        grid-template-columns: 10% 33% 29% 14% 7%;
    }
}

@media screen and (max-width: 600px) {
    .CartItems li div {
        width: 81px;
    }
}

@media screen and (max-width: 500px) {
    .ProductItems {
        grid-template-columns: repeat(1, 1fr);
    }

    .CartItems li {
        grid-template-columns: 18% 22% 24% 19% 7%;
        div {
            width: 73px;
            p {
                margin: 0;
            }
        }
    }
}






